@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&display=swap');

/* Black is #1f1f1f */
/* Blue is #42929d */
/* More than 1600px and it breaks */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #26636b;
    color: #000;
    margin: 0;
    line-height: 1.6;
}
  
/* Showcase */

header {
    z-index: 999;
    width: 100%;
    height: auto;
    position: fixed;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

header img {
    padding: 5px;
    width: 15vw;
}

#showcase {
    margin: 0;
    padding: 0;
    background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url('srilanka.jpg') no-repeat
    center/cover;
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: hidden;
    color: #fff;
    box-shadow: 0 0 12px -2px #000;
    z-index: 50;
}

#showcase .container {
    max-width: 960px;
    margin-top: 8vh;
}

#showcase h1 {
    font-size: 5rem;
    padding-top: 8vh;
    margin-bottom: 0;
}

#showcase h2 {
    font-size: 1.5rem;
}

#showcase .lead {
    font-size: 1rem;
    padding-bottom: 10vh;
}

/* Video */

#video {
    padding: 5vw;
}

#video h2 {
    color: #fff;
    font-size: 1.5rem;
}

#video video {
    box-shadow: 0 0 12px -2px #000;
    border-radius: 5px;
    width: 50vw;
    height: auto;
}

/* Table Time */

#tabletime {
    height: auto;
    padding: 5vw;
    background-color: #e4e4e4;
    box-shadow: 0 0 12px -2px #000;
}

#tabletime .container {
    max-width: 960px;
}

#tabletime h2 {
    font-size: 1.5rem;
}

#tabletime img {
    width: 60vw;
    height: auto;
}

#tabletime h3 {
    text-align: center;
    font-size: 1rem;
}

/* Audio Table */

#audio{
    margin-left: -3vw;
    height: auto;
    padding: 5vw;
    background-color: #e4e4e4;
    border-top: grey 1px solid;
}

#audio h2 {
    font-size: 1.5rem;
}

#audio table {
    box-shadow: inset 0 0 12px -2px #000;
    border-radius: 5px;
    padding: 60px;
}

#audio table tr {
    text-align: left;
}

#audio table th {
    padding-right: 10vw;
    text-align: center;
}

#audio table td {
    padding-right: 20px;
}

#audio table audio {
    max-block-size: 4vh;
    max-inline-size: 22vw;
}

/* Video Footer */

#ending {
    padding: 5vw;
}

#ending h2 {
    margin: 0px;
    color:#fff;
    font-size: 1.5rem;
    text-align: left;
}

#ending #knee video {
    box-shadow: 0 0 12px -2px #000;
    border-radius: 5px;
    width: 30vw;
    height: auto;
    margin: 20px;
    display: inline-block;
}

/* Explaning*/

#explaning {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('life.jpg') no-repeat center/cover;
    box-shadow: 0 0 12px -2px #000;
}

#explaning #text {
    margin: 5vh;
    padding: 5vw;
    padding-bottom: 1vw;
    font-size: 3rem;
    color: #fff;
}

#explaning button {
    border: none;
    padding: 1.8vh;
    opacity: 0.9;
    background-color: #e4e4e4;
    box-shadow: 2px 2px 6px -2px #000;
    border-radius: 4px;
    margin-bottom: 10vw;
}

#more {
    display: none;
}

/* Footer */

#footer {
    padding: 5vw;
    padding-left: 8vw;
    background-color: #ddd;
}

#footer ul {
    padding-right: 5vw;
    display: inline-block;
    list-style-type: none;
    text-align: left;
    font-size: 0.9rem;
}

#footer ul li {
    padding-right: 5vw;
}

/* Utility Classes */

.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

.hide-on-large {
    display: none;
}

@media screen and (max-width: 900px) {

/* Showcase */

header img {
    width: 30vw;
}

#showcase h2 {
    padding-bottom: 10vh;
}

/* Audio Table */

#audio audio {
    display: none;
}

#audio table {
    width: 75vw;
}

/* Video Footer */

#ending h2 {
    font-size: 1.2rem;
}

#ending #knee video {
    width: 30vw;
}

/* Explaning*/

#explaning #text {
    padding: 5vh;
    padding-bottom: 0;
    font-size: 2rem;
}

/* Footer */

/* Utility Classes */

.hide-on-small {
    display: none;
}

.hide-on-large {
    display: block;
}

}
@media screen and (max-width: 600px) {


/* Showcase */

header img {
    width: 50vw;
}

#showcase h1 {
    font-size: 3.5rem;
}

/* Video Table */

#video {
    padding: 5vh;
}

#video h2 {
    font-size: 1.2rem;
}

#video video {
    width: 65vw;
    margin-bottom: 3vh;
}

/* Table Time */

#tabletime {
    padding: 5vh;
}

#tabletime h2 {
    font-size: 1.2rem;
}

#tabletime img {
    width: 70vw;
}

/* Audio Table */

#audio {
    padding: 5vh;
}

#audio h2 {
    font-size: 1.2rem;
}

#audio td {
    display: none;
}

#audio table {
    width: 55vw;
    margin-bottom: 3vh;
}

/* Video Footer */

#ending {
    padding: 3vw;
}

#ending #knee video {
    margin: 2vw;
}

/* Explaning*/

#explaning #text {
    font-size: 1.5rem;
}

}

@media screen and (max-width: 480px) {

/* Showcase */

#showcase h1 {
    font-size: 3rem;
}

/* Video Table */

#video {
    padding: 3vh;
}

#video h2 {
    font-size: 1rem;
}

#video video {
    width: 65vw;
}

/* Table Time */

#tabletime {
    padding: 3vh;
}

#tabletime h2 {
    font-size: 1rem;
}

/* Audio Table */

#audio {
    padding: 3vh;
}

#audio h2 {
    font-size: 1rem;
}

#audio table {
    padding: 40px;
    font-size: .9rem;
    width: 55vw;
    margin-bottom: 3vh;
}

/* Video Footer */

#ending #knee h2 {
    font-size: 1rem;
}

#ending #knee video {
    width: 60vw;
    margin: 3vw;
}

/* Explaning*/

#explaning #text {
    font-size: 1.2rem;
}

#explaning button {
    font-size: 0.8rem;
    padding: 1.2vh;
}

}
