@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1f1f1f;
    color: rgb(0, 10, 10);
    margin: 0;
    line-height: 1.5;
}
  
/* Showcase */

#showcase {
    margin: 0;
    padding: 0;
    background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url('../img/lookup.jpg') no-repeat
    center/cover;
    width: 100%;
    height: 55vh;
    position: relative;
    overflow-y: hidden;
    color: #fff;
    box-shadow: 0 0 50px #555;
    z-index: 50;
}

#showcase .container {
    margin-top: 90px;
}

#showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

#showcase h2 {
    font-size: 1.5rem;
}

#showcase .lead {
    font-size: 1rem;
}

/* Video */

#video {
    color: #fff;
}

#video h2 {
    padding: 1rem;
    font-size: 1.5rem;
}

#video video {
    box-shadow: 0 0 25px #000;
    border-radius: 8px;
    width: 50vw;
    height: auto;
}

/* Table Time */

#tabletime {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin-top: 60px;
    background-color: #e4e4e4;
    box-shadow: 0 0 50px -5px #555;
}

#tabletime h2 {
    padding-top: 20px;
    font-size: 1.5rem;
}

#tabletime img {
    width: 100vh;
    padding-bottom: 10px;
}

/* Audio Table */

#audio {
    padding-top: 80px;
}

#audio #mecanisms{
    border-radius: 12px;
    padding: 10px;
    background-color: #e4e4e4;
    box-shadow: inset 0 0 30px -5px #000;
}

#audio table {
    margin: 15px;
}

#audio td ,th {
    text-align: right;
    border-radius: 8px;
}

#audio audio {
    float: right;
}

/* Video Footer */
#ending h2 {
    color:#fff;
}

#ending #knee {
    padding-top: 10px;
    display: inline-block;
}

#ending #knee video {
    width: 25vw;
    height: auto;
    margin: 20px;
    box-shadow: 0 0 25px #000;
    border-radius: 8px;
}

/* Footer */
#footer {
    background-color: #ddd;
    padding: 60px;
    margin-top: 60px;
    border-top: 2px solid grey;
    box-shadow: 0 0 50px #666;
}

#footer ul {
    margin-left: 200px;
    display: inline-block;
    list-style-type: none;
    text-align: left;
}

/* Utility Classes */

.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

/* Navigation */

nav {
    height: 45px;
    width: 100%;
    background-color: #1f1f1f;
    color: #226666;
    opacity: 0.9;
    position: fixed;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #3fb6b6;
    text-decoration: none;
}
nav li:hover {
    background-color: #444;
}
nav a#openup {
    display: none;
}

@media screen and (max-width: 580px) { 
.hide-on-small {
    display: none;
}

/* Showcase */
#showcase {
    height: 40vh;
}

#showcase .container {
    margin-top: 15vh;
}

#showcase h1 {
    font-size: 2rem;
}

#showcase h2 {
    font-size: .8rem;
}

/* Video */
#video h2 {
    margin: 1rem;
    font-size: 1rem;
}

#video video {
    width: 70vw;
    height: auto;
    margin-bottom: -20px;
}

/* Tabletime */
#tabletime h2 {
    margin: 1rem;
    font-size: 1rem;
}

#tabletime img {
    width: 70vw;
    height: auto;
}

/* Video Footer */
#ending #knee {
    padding-top: 10px;
    text-align: left;
}

#ending #knee video {
    box-shadow: 0 0 25px #000;
    border-radius: 8px;
    display: block;
    width: 70vw;
    height: auto;
}

/* Footer */
#footer {
    padding: 6px;
    margin-top: 6px;
}

#footer ul {
    font-size: .5rem;
    margin-left: 20px;
}

/* Navigation */
nav {
    height: auto;
    border-bottom: 0;
}
nav ul {
    display: none;
    height: auto;
}
nav li {
    width: 100%;
    float: left;
    position: relative;
}
nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #1f1f1f;
}
nav a:hover {
    background: #224444;
}
nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 30px;
}
nav a#openup {
    display: block;
    background-color: #1f1f1f;
    width: 100%;
    position: relative;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}
  
.cf:after {
    clear: both;
}
  
.cf {
    zoom: 1;
 }
}
  
/* For IE 6/7 (trigger hasLayout) */